<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="expert.wearedata.stockDataMapper">

	<resultMap id="stockData" type="expert.wearedata.api.model.StockData">
  		<id property="dataId" column="data_id" />
  		<result property="symbolId" column="symbol_id" />
  		<result property="date" column="date" typeHandler="expert.wearedata.api.typehandler.LocalDateTypeHandler"/>
	</resultMap>

	<select id="selectList" resultMap="stockData">
		SELECT 
			data_id,
			symbol_id,
			date
		FROM 
			tb_data;
	</select>
  
</mapper>